* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

.container {
  max-width: 1300px;
  padding: 0 10px;
  margin: auto;
}

.nav {
  margin: 40px 0;
}

.nav-logo img {
  min-width: 100px;
  height: auto;
  width: 100%;
}

.nav-list {
  column-gap: 30px;
  li {
    color: #333;
    font-size: 16px;
    line-height: 140%;
    transition: all 0.3s;
    &:hover {
      color: #3d348b;
      transition: all 0.3s;
    }
  }
}

.nav-search {
  column-gap: 50px;
  .seacrh {
    position: relative;
    input {
      border-bottom: 1px solid #333;
      font-size: 18px;
      width: 150px;
      height: 24px;
      &:focus {
        outline: none;
        opacity: 0.2;
      }
    }

    img {
      position: absolute;
      top: 0;
      left: -50px;
    }
  }
}

.nav-select {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: #333;
  &:focus {
    outline: none;
  }
}

.header-bg {
  background-image: url(../img/header-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 750px;
  margin-bottom: 150px;
}

.mainscreen-items {
  padding-top: 113px;
  column-gap: 113px;
}

.mainscreen-item {
  h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 140%;
    color: #fff;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
    margin: 40px 0 60px 0;
  }
}

.screen-item-link {
  column-gap: 15px;
  a {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
    &:hover {
      border-bottom: 1px solid #fff;
    }
  }
}

.screen-item-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  .screen-item-card {
    border-radius: 20px;
    padding: 30px 35px;
    width: 306px;
    height: 250px;
    background: #5db7de;
    transition: all 0.3s;
    &:hover {
      background-color: #4590b0;
      transition: all 0.3s;
    }

    h4 {
      font-weight: 700;
      font-size: 13px;
      margin-bottom: 118px;
      line-height: 140%;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #fff;
    }

    span {
      display: block;
      font-weight: 700;
      font-size: 19px;
      line-height: 140%;
      color: #fff;
    }
  }
}

.services {
  margin-bottom: 150px;
}

.services-items {
  column-gap: 134px;
}

.services-item_title {
  margin-bottom: 60px;
}

.text-stile {
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  color: #333;
}

.services-item_link:not(:last-child) {
  margin-bottom: 30px;
}

.services-link_text {
  width: 250px;
  margin-right: 10px;
  a {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #3d348b;
    border-bottom: 1px dashed #3d348b;
  }
}

.services-item_pdf {
  a {
    font-weight: 700;
    font-size: 13px;
    line-height: 140%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 8px 10px;
    background-color: #5db7de;
    color: #fff;
  }
}

.services-cards {
  gap: 24px;
}

.services-card {
  border-radius: 20px;
  padding: 30px 35px;
  background: #3d348b;
  h4 {
    font-weight: 700;
    font-size: 13px;
    line-height: 140%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 114px;
  }
  span {
    font-weight: 700;
    font-size: 19px;
    line-height: 140%;
    color: #fff;
  }
}

.about-bg {
  background-color: #f3f3f3;
  padding: 100px 0 110px 0;
  margin-bottom: 150px;
}

.about-items {
  display: flex;
  column-gap: 134px;
}

.about-title {
  margin-bottom: 60px;
}

.about-item_desc {
  margin-bottom: 16px;
  p {
    margin: 16px 0;
  }
  li {
    margin-bottom: 15px;
  }
  &:last-child {
    margin-bottom: 0;
    h3 {
      margin-bottom: 16px;
    }
    li:last-child {
      margin-bottom: 0;
    }
  }
}

.about-video_item {
  margin-top: 30px;
  border-radius: 20px;
  padding: 30px 35px;
  background: #5db7de;

  h4 {
    font-weight: 700;
    font-size: 13px;
    line-height: 140%;
    letter-spacing: 0.1em;
    margin-bottom: 38px;
    text-transform: uppercase;
    color: #fff;
  }
  p {
    font-weight: 700;
    font-size: 19px;
    line-height: 140%;
    color: #fff;
  }
}

.about-item-card {
  border-radius: 20px;
  padding: 30px 35px;
  margin-top: 30px;
  background-color: #5db7de;
  img {
    width: 100%;
    min-width: 300px;
    height: auto;
  }

  h4 {
    margin-bottom: 38px;
    font-weight: 700;
    font-size: 13px;
    line-height: 140%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
  }

  p {
    font-weight: 700;
    font-size: 19px;
    line-height: 140%;
    color: #fff;
  }
}

.news {
  margin-bottom: 150px;
}

.news-title {
  margin-bottom: 60px;
}

.news-title-link {
  column-gap: 16px;
  p {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d348b;
  }
}

.news-cards {
  column-gap: 24px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.news-card {
  img {
    width: 100%;
    min-width: 200px;
    height: auto;
  }

  span {
    display: block;
    margin: 25px 0 15px 0;
    font-weight: 700;
    font-size: 13px;
    line-height: 140%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #333;
  }

  h3 {
    font-weight: 700;
    font-size: 19px;
    line-height: 140%;
    color: #333;
    margin-bottom: 12px;
  }

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #333;
  }
}

.footer-bg {
  background-color: #3d348b;
  opacity: 0.85;
}

.footer-nav {
  padding: 45px 0;
}

.footer-maps {
  column-gap: 20px;
  a {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
  }
}

.footer-social_items {
  column-gap: 30px;
  .footer-social_item {
    column-gap: 20px;
    a {
      font-weight: 700;
      font-size: 16px;
      line-height: 140%;
      color: #fff;
    }
  }
}

.footer-main_bg {
  background-color: #3d348b;
}

.footer-main_items {
  padding: 80px 0;
  column-gap: 90px;
}

.footer-main_item {
  h5 {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
  }

  li {
    margin-bottom: 20px;
  }

  a {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #fff;
  }
}

.footer-cop {
  text-align: center;
  align-items: center;
  padding-bottom: 30px;
  h5 {
    font-weight: 700;
    font-size: 13px;
    line-height: 140%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    opacity: 0.5;
  }
}
// ==================== NEXT PAGE====================  //

.nav-bottom_bg {
  background: #3d348b17;
}

.nav_bottom {
  padding: 25px 0;
}

.nav-bottom_list {
  position: relative;
  column-gap: 30px;
  li {
    font-weight: 700;
    font-size: 13px;
    line-height: 140%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #333;
  }
}

.application-main_title {
  margin: 80px 0;
  h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 140%;
    color: #333;
    text-align: center;
  }
}

.application-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
  h3 {
    margin-bottom: 20px;
  }
  ul {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333;
  }
  li {
    margin-bottom: 15px;
  }
  .application-last_item {
    margin-bottom: 0;
  }
}

.application-item:not(:last-child) {
  margin-bottom: 45px;
}
// ==================== NEXT PAGE====================  //

.container-req {
  max-width: 856px;
  margin: 0 auto;
  padding: 0 15px;
}

.main-form {
  margin: 80px 0 60px 0;
}

.main-form_title {
  margin-bottom: 80px;
  h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 140%;
    text-align: center;
    color: #333;
  }
}

.main-form-items {
  display: flex;
  column-gap: 25px;
}

.form-main {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  label {
    font-weight: 700;
    font-size: 13px;
    line-height: 140%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #333;
  }
  input {
    border: 1px solid rgba(51, 51, 51, 0.2);
    border-radius: 5px;
    width: 416px;
    height: 35px;
    color: rgba(51, 51, 51, 0.7);
    &:focus {
      outline: none;
    }
  }

  .big-input {
    border: 1px solid rgba(51, 51, 51, 0.2);
    border-radius: 5px;
    width: 416px;
    height: 100px;
    &:focus {
      outline: none;
    }
  }
}

.input-file_block {
  display: flex;
  row-gap: 20px;
  flex-direction: column;
  p {
    font-weight: 700;
    font-size: 13px;
    line-height: 140%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #333;
  }

  label {
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0em;
    border-radius: 10px;
    padding: 8px 15px;
    background: #5db7de;
    width: 148px;
  }
}

.input-file {
  display: none;
}

.report {
  margin-bottom: 60px;
}

.report-main_title {
  margin-bottom: 40px;
  h2 {
    font-weight: 700;
    font-size: 27px;
    line-height: 140%;
    color: #333;
  }
}

.report-form_items {
  display: flex;
  flex-direction: column;
  row-gap: 21px;
}

.report-form_item {
  display: flex;
  align-items: center;
  column-gap: 15px;
  input {
    border: 1px solid rgba(51, 51, 51, 0.2);
    border-radius: 5px;
    height: 20px;
  }

  label {
    font-weight: 700;
    font-size: 13px;
    line-height: 140%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #333;
  }
}

.feedback {
  margin-bottom: 150px;
}

.feedback-title {
  margin-bottom: 40px;
  h2 {
    font-weight: 700;
    font-size: 27px;
    line-height: 140%;
    color: #333;
  }
}

.feedback-form_items {
  display: flex;
  column-gap: 24px;
}

.feedback-form_item {
  form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    input {
      border: 1px solid rgba(51, 51, 51, 0.2);
      border-radius: 5px;
      width: 416px;
      height: 35px;
      &:focus {
        outline: none;
      }
    }
  }
}
